<div class="login" >
	<div class="container">
		
		<div class="form">
      			<br>
      			<br>
      			<br>
      			<br>

      		<!-- <h1 style="text-transform: uppercase; font-size: 20px"> Login</h1> -->
			
			<%= form_for(:session, url: login_path) do |f| %>
			  <%= f.email_field :email, :placeholder => "Email" %> 
			  <%= f.password_field :password, :placeholder => "Password" %> 
			  <br>
			  <br>
			  <div class="flashemail">
			  <p style="color: #DF0029; text-transform: bold;text-transform: uppercase; text-align: center; font-size:14px"> 

			<%= flash[:error] %>

			</p>
			</div>
			
			<br>

			  <%= f.submit "Đăng nhập", class: "btn-submit" %>
			<% end %>
		
    </div>
	</div>
</div>