<p id="notice"><%= notice %></p>

<p>
  <strong style="text-transform: capitalize; text-align: center;">Table's Name:</strong>
  <%= @table.title %>
</p>

<p>
  <strong style="text-transform: capitalize; text-align: center;">Number of Guesses:</strong>
  <%= @table.description %>
</p>

<div id="orders_wrapper">
	<%= render @table.orders %>
	<div id="form">
		<%= render "orders/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
