<html>
<head>

</head>
<body>
<div>
<p id="notice"><%= notice %></p>


<p>
  <strong style="text-transform: capitalize; text-align: center;">Number of Guesses:</strong>
  <%= @table.description %>
</p>

<div style="width: 40%; display: inline; float: left;">
	<%= render @table.orders %>
	<div id="form">
		<%= render "orders/form" %>
	</div>
</div>

<div>
	<iframe id="myFrame" width="60%" height="1000px" style="display: inline; float: right;" src="/menu">
	</iframe>
</div>


<%= link_to 'Edit', edit_table_path(@table) %>
</div>
</body>
</html>