<div>
<p id="notice"><%= notice %></p>


<div style="width: 40%; display: inline; float: left;">
<p>
  <strong style="text-transform: capitalize; text-align: center;">Number of Guesses:</strong>
  <%= @table.description %>
</p>


	<%= render @table.orders %>
	<div id="form">
		<%= render "orders/form" %>
	</div>
<%= link_to 'Edit', edit_table_path(@table) %>
</div>

<div>
	<iframe width="50%" height="700px" style="display: inline; float: right; border: none" src="/menu"></iframe>
</div>


</div>