<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="jquery.js"></script> 
    

</head>
<body>
<% @items.each do |item| %>
<script>

	$(document).ready(function(){
	    /*$("#btn1").click(function(){
	        $("p").append( <b>Appended text</b>.);
	    });*/
	    
	    $("#btn<%= item.id %>").click(function(){
	    	var itemcontent = "<%= item.content %> : <%= item.price %>\n";
	    	var box = $("#text-box");
	        /*$("ol").append("<li>" + itemcontent + "</li>");*/
	        box.val(box.val() + itemcontent );
	    });
	});

</script>
	
	<button id="btn<%= item.id %>" style="width:150px; display: inline-block; margin-right: 14px; margin-bottom: 10px;">
  	  <td><%= item.content %> </td>
  	  
  	</button>
  		
  	
<% end %>
	<!-- <ol></ol> -->
	<!-- <textarea id="text-box" style="width: 500px; height: 300px"> </textarea> -->
	<form accept-charset="UTF-8" action="" method="get">
            <textarea id="text-box"></textarea>
            <input type="submit" value ="Add to bill" id="go" />
    </form>
</body>
</html>