<div class=category_index_row1 style="background-color: #99FF99">
<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Content:</strong>
  <%= @category.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<div id="todo_items_wrapper">
	<%=  render @category.items %>
	<div id="form">
		<%= render "items/form" %>
	</div>
</div>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Delete', category_path(@category),remote: true, method: :delete, data: {confirm: "Are you sure?" } %>
</div>